* {
  margin: 0 auto;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
}
.Active-Text {
  color: #7ac751;
  transition: 0.3s ease-in-out;
}
.DeActive-Text {
  color: #c2c2c2;
  transition: 0.3s ease-in-out;

}
.ActiveContent{
  display: block;
}
.DeActiveContent{
  display: none;
}
.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: auto;
  
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: auto;
  
}
.header {
  width: 100%;
}
.nav-bottom {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
.nav-bottom > a {
  margin: 0;
  margin-left: 0;
}
.searchDiv {
  max-width: 582px;
  height: 46px;
  border-radius: 8px;
  border: 2px solid #7ac751;
  display: flex;
  align-items: center;
  /* margin-left: 120px; */
}
.searchDiv > input {
  width: 405px;
  padding-right: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  height: 100%;
  padding-left: 10px;
  border-radius: 8px 0 0 8px;
  border-right: 1px solid rgba(227, 227, 227, 0.78);
}
.searchDiv > select {
  padding: 10px;
  width: 120px;
  height: 100%;
  border: none;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: center;
}

.searchDiv > span {
  width: 55px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #7ac751;
  margin-right: 0;
}
.iconBtn {
  width: 150px;
  height: 40px;
  margin-right: 30px;
  display: flex;
}
.iconBtn > span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconBtn > span > i {
  font-size: 20px;
  color: #757575;
}
.iconBtn > span > p {
  position: absolute;
  margin-top: -18px;
  margin-right: -21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  background-color: #7ac751;
}
.iconBtn > button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #555555;
  cursor: pointer;
}
/* hero css */

.hero {
  max-width: 100%;
  min-height: 67px;
  background: #f7f8fa;
  display: flex;
  justify-content: space-between;
}
.heroTop {
  width: 100%;
  min-height: 67px;
  display: flex;
  align-items: center;
}
.heroLeft {
  width: 260px;
  height: 67px;
  background: #7ac751;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 30px;
  margin: 0;
}
.heroLeft > i {
  margin-left: 0;
}
.item-nameChange {
  margin-left: 0;
  color: white;
  padding-right: 5px;
}
.heroRight {
  width: 606px;
  height: 100%;
}
.heroUl {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroUl > li {
  display: flex;
  align-items: center;
  height: 100%;
  color: #555;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.heroUl > li:hover {
  color: #7ac751;
  border-bottom: 2px solid;
}
/* main css */
.main {
  width: 100%;
}
.section1 {
  width: 100%;
  display: flex;
}
.section1Left {
  width: 260px;
  margin: 0;
  margin-left: 0;
}
.sec1Left {
  width: 100%;
  max-width: 260px;
}
.sec1__List {
  width: 100%;
  background: #f7f8fa;
}
.hero-item {
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  color: #2f2f2f;
}
.hero-item:hover {
  background-color: #7ac751;
  color: white;
}
.section1Right {
  width: 900px;
  height: 440px;
  margin-left: 10px;
  margin-top: 10px;
  background: linear-gradient(
    135deg,
    rgba(241, 250, 255, 0.88) 0%,
    #f1faff 100%
  );
  backdrop-filter: blur(77.5px);
}
.sec1Right__List {
  padding: 36px 39px 29px 47px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /*  */
}

.sec1Right__item1 {
  width: 318px;
  margin: 0;
}
.sec1Right__p1 {
  margin-top: 39px;
  width: 279px;
  height: 25px;
  flex-shrink: 0;
  margin-left: 0;
  color: var(--main-color, #7ac751);
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 118.182% */
  letter-spacing: 1.1px;
}
.sec1Right__h4 {
  width: 100%;
  color: #2f2f2f;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.textName-Slide {
  border-bottom: 5px solid #7ac751;
  color: #2f2f2f;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sec1Right__p2 {
  width: 318px;
  height: 25px;
  flex-shrink: 0;
  margin-top: 25px;
  color: rgba(81, 81, 81, 0.71);
  font-family: Mulish;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 96.296% */
}
.Btn__sec1Shop {
  width: 129px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #7ac751;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  outline: none;
  margin-top: 45px;
  cursor: pointer;
}
.sec1Right__item2 {
  width: 374px;
  height: 374px;
  margin-left: 0;
  /*  */
}
.sec1Right__item2 > img {
  width: 100%;
  height: 100%;
}
.sec1Right__item3 {
  height: 100%;
}
.Right__items {
  cursor: pointer;
  width: 98px;
  margin-top: 15px;
  margin-bottom: 10px;
  height: 91.467px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.56) 100%
  );
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0);
}
.Right__items > img {
  width: 49px;
  height: 53px;
  display: flex;
}
.Right__items > h4 {
  width: 100%;
  height: 15px;
  text-align: center;
  color: var(--main-color, #7ac751);
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
}
.Right__items > p {
  width: 60px;
  text-align: center;
  height: 10px;
  color: var(--primary, #000000);
  font-family: Rubik;
  font-size: 7px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 371.429% */
}
/* .dots {
  position: absolute;
  margin-top: 40%;
  margin-left: 40%;
  display: flex;
}
.dots > div {
  width: 10px;
  cursor: pointer;
  height: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: white;
  margin: 0 7px;
  background-color: #d7d6d6;
}
.dots > div:first-child {
  background-color: #7ac751;
} */
.section2 {
  width: 100%;
  min-height: 100px;
  margin: 0;
  margin-top: 50px;
  padding-bottom: 30px;
}
.sec2Pay__Feature {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sec2__items {
  min-width: 200px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.sec2__items-text > h4 {
  color: var(--primary, #000000);
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 130% */
}
.sec2__items-text > p {
  color: var(--black-2nd, rgba(81, 81, 81, 0.71));
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.section3 {
  width: 100%;
  min-height: 550px;
  margin: 0;
}

.sec3__List {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sec3__Left-item1 {
  padding: 50px 0 0 30px;
  width: 639px;
  height: 520px;
  background-image: url("/product/ProductCodes/images/images9.png");
  background-position: center;
  background-repeat: no-repeat;
}
.sec3__Left-item1 > h4 {
  color: var(--primary, #555);
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 118.182% */
}
.sec3__Left-item1 > p {
  color: var(--main-color, #7ac751);
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}
.sec3__Left-item1 > a {
  color: #757575;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.sec3__Left-item1 > a:hover {
  color: #000000;
}
.sec3__Right-items {
  width: 485px;
  height: 93%;
}
.sec3__Right-item1 {
  width: 100%;
  height: 247px;
  padding: 50px 0 0 30px;
  margin-top: 0;
  background-image: url("/product/ProductCodes/images/images10.png");
  background-position: center;
  background-repeat: no-repeat;
}
.sec3__Right-item1 > h4 {
  color: var(--primary, #555);
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 118.182% */
}
.sec3__Right-item1 > p {
  color: var(--main-color, #7ac751);
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}
.sec3__Right-item1 > a {
  color: #757575;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.sec3__Right-item1 > a:hover {
  color: #000000;
}
.sec3__Right-item2 {
  width: 100%;
  height: 247px;
  padding: 50px 0 0 30px;
  margin-top: 17px;
  background-image: url("/product/ProductCodes/images/images11.png");
  background-position: center;
  background-repeat: no-repeat;
}
.sec3__Right-item2 > h4 {
  color: var(--primary, #555);
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 118.182% */
}
.sec3__Right-item2 > p {
  color: var(--main-color, #7ac751);
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}
.sec3__Right-item2 > a {
  color: #757575;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.sec3__Right-item2 > a:hover {
  color: #000000;
}
.section4 {
  width: 100%;
  min-height: 250px;
  margin: 0;
  margin-top: 50px;
}

.sec4__List-Trending {
  width: 100%;
}
.sec4__List-Trending > h3 {
  color: var(--primary, #555);
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.sec4__List-Name {
  width: 100%;
  height: 100px;
  
}
.sec4__Name-List {
  max-width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
}

.sec4__Name-item {
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.sec4__Cards{
  width: 100%;
  min-height: 100px;
}
.sec4__Name-Card{
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.sec4__Card_List{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Card_item{
max-width: 270px;
min-width: 270px;
width: 100%;
min-height: 387px;
margin-bottom: 20px;
}
.Card_item:hover .Card_Btns{
  display: block;
  display: flex;
}
.Card-images{
  width: 100%;
  height: 288px;
  background-image: url("/product/ProductCodes/images/images14.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.Card_title{
  max-width: 50px;
  height: 22px;
  margin-left: 0;
  border-radius: 0px 0px 5px 0px;
background: #00B7F1;
padding: 0 0 5px 10px;
color: white;
}
.Card_Btns{
  width: 50px;
  height: 200px;
  right: 0;
  bottom: 0;
  position: absolute;
  flex-wrap: wrap;
  display: none;
}
.card__btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #757575;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s ease-in;

}
.card__btn:hover{
  color: white;
  background-color: #7AC751;
  transition: 0.3s ease-in;
}
.Card-category{
  margin-top: 15px;
  color: rgba(117, 117, 117, 0.71);
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: 0.112px;
  text-transform: uppercase;
}
.Card-name{
  color: #555;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
letter-spacing: 0.1px;
}
.Card-price{
  width: 100%;
  display: flex;
  margin-top: 11px;
}
.Cards-star{
  width: 50%;
}
/* stars css */
.rating {
  display: inline-block;
  margin-left: 50px;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 20px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #7AC751;
  transition: color 0.3s;
}

.Cards-star>span>i{
  font-size: 12px;
  color: #757575;
  cursor: pointer;
}
.Cards-price{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card-Price__new{
  color: #7AC751;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 120%;
letter-spacing: 0.09px;
margin-left: 0;
}
.Card-Price__old{
  text-decoration: line-through;
  color: #CCC;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 120%;
letter-spacing: 0.09px;
margin-left: 0;
}
.special-box{
  width: 100%;
  min-height: 355px;
  margin-top: 100px;
}
.special-title{
  width: 100%;
  text-align: center;
}
.special-title>h3{
  color: #555;
  font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.special-list{
  width: 100%;
  min-height: 310px;
  display: flex;
}
.special-left{
  width: 570px;
  height: 249px;
  margin-top: 60px;
  background-image: url("/product/ProductCodes/images/images18.png");
  background-repeat: no-repeat;
  /* margin-left: 0; */
}
.special-right{
  width: 570px;
  height: 249px;
  margin-top: 60px;
  background-image: url("/product/ProductCodes/images/images19.png");
  background-repeat: no-repeat;
  /* margin-right: 0; */
}
.special-left-title{
  max-width: 70px;
  height: 23px;
  border-radius: 0px 0px 0px 5px;
background: #00B7F1;
color: white;
padding:2px 0 0 8px;
margin-right: 0;
}
.special-left-name{
  max-width: 250px;
  font-family: Mulish;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-left: 24px;
margin-left: 0;
color: #555;
}
.special-left-deck{
  max-width: 227px;
  color: #757575;
font-family: Mulish;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
margin-left: 0;
padding-left: 24px;
margin-top: 11px;
}
.special-left-btns{
  max-width: 240px;
  display: flex;
  margin-left: 0;
  padding-left: 20px;
  margin-top: 27px;
}
.special-left-btns>button{
  width: 91px;
  height: 26px;
  border-radius: 2px;
background: #7AC751;
border: 1px solid #7AC751;
color: #FFF;
font-family: Mulish;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}
.special-left-discount{
  width: 230px;
  height: 50px;
  display: flex;
  margin-left: 0;
  padding-left: 10px;
  margin-top: 25px;
}
.left-discount-day{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: #7AC751;
  text-align: center;
  font-size: 9px;
}
.left-discount-day>h4{
  width: 40px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.trending-box{
  width: 100%;
  min-height: 300px;
  margin-top: 100px;
}
.trending-title{
  width: 100%;
  text-align: center;
}
.trending-title>h3{
  font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #555;
}
.trending__list-Name{
  max-width: 700px;
  height: 50px;
  margin-top: 45px;
}
.trending__Name-List{
  width: 100%;
  height: 100%;
  display: flex;
}
.trending-items{
  width: 100%;
}
.trending-item{
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
cursor: pointer;
}
.tranding-item-List{
  width: 100%;
  display: flex;
  margin-top: 45px;
}
.next-List-btns{
  width: 50%;
  text-align: center;
  margin-top: 30px;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-next-page{
  width: 161px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 2px;
background: #7AC751;
border: 1px solid #7AC751;
color: #FFF;
font-family: Mulish;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 0;
}
.select-page-inp{
  width: 220px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 0;
}
#valuePage{
  width: 48px;
  height: 100%;
  text-align: center;
  outline: none;
}
.tranding-value-btn{
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tranding-value-btn>button{
  width: 50%;
  height: 100%;
  background-color: #7AC751;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tranding-value-btn>button:hover{
  background-color: #477e29;

}
.tranding-inc{
  border-radius: 2px 0 0 2px;
}
.tranding-dec{
  border-radius: 0 2px 2px 0;
}
.blogs{
  width: 100%;
  min-height: 100px;
  margin-top: 100px;
}
.blogs-title{
  width: 100%;
  text-align: center;
}
.blogs-title>h3{
  font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
color: #555;
}
.blog-img{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
  margin-bottom: 32px;
}
.blog-img>img{
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #000000;
}
.blog-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.blog-items{
  max-width: 816px;
  min-height: 312px;
  padding: 80px 125px 0 125px;
  border-radius: 8px;
  background: #F8FAFB;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}
.blog-item{
  width: 100%;
}
.blog-item>p{
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.08px;
  color: #515151;
}
.blog-item>h4{
  text-align: center;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 28.8px */
letter-spacing: 0.12px;
color: #555;
margin-top: 32px;
}
.blog-item>span{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 20px */
letter-spacing: 0.08px;
color: #555;
}

.blog-leftBtn>i{
  font-size: 36px;
color: #ccc;
cursor: pointer;
}
.blog-rightBtn>i{
  font-size: 36px;
color: #ccc;
cursor: pointer;
}
.articles{
  width: 100%;
  min-height: 100px;
  margin-top: 100px;
}
.articles-box{
  width: 100%;
  height: 100%;
}
.articles-title{
  width: 100%;
  text-align: center;
  font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
color: #555;
}
.article-List{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
}
.article-items{
  max-width: 570px;
  width: 100%;
  max-height: 455px;
  border-radius: 8px;
  margin-top: 15px;
  background-repeat: no-repeat;
}
.article-img1{
  background-image: url("/product/ProductCodes/images/images27.png");
}
.article-img2{
  background-image: url("/product/ProductCodes/images/images28.png");
}
.article-img3{
  background-image: url("/product/ProductCodes/images/images29.png");
}
.article-img4{
  background-image: url("/product/ProductCodes/images/images30.png");
}
.article-item{
  width: 100%;
  height: 100%;
  padding: 0 80px 0 44px;
}
.article-item>div{
  width: 230px;
  display: flex;
  margin-left: 0;
  padding-top: 250px;
}
.article-item>div>p{
  font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
letter-spacing: 0.112px;
color: #fff;
}
.article-item>div>span{
max-width: 100%;
height: 20px;
padding: 0 10px;
background-color: white;
color: #7AC751;
border-radius: 2px;
display: flex;
align-items: center;
justify-content: center;
margin-left: 0;
}
.article-item>h4{
  font-family: Mulish;
font-size: 39px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 46.8px */
letter-spacing: 0.195px;
color: #fff;
margin-top: 24px;
margin-bottom: 15px;
}
.article-item>a{
  font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */
letter-spacing: 0.112px;
color: #fff;
}
.footer{
  width: 100%;
  min-height: 200px;
  margin-top: 115px;
}
.footer-List{
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #555;
}
.footer-items>p{
  max-width: 310px;
  color: #555;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.18px;
}
.footer-items>a{
  color: #555;
font-family: Rubik;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 0.18px;
}
.footer-items>a:hover{
color: #2f2f2f;
}

.footer-item2{
  width: 167px;
}
.footer-item3{
  width: 70px;
}
.footer-item4{
  width: 126px;
}
.footer-top>h4{
  color: #494949;
font-family: Rubik;
font-size: 18px;
font-style: normal;
font-weight: 1000;
line-height: 40px; /* 222.222% */
letter-spacing: 0.18px;
}
.footer-links{
  width: 160px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.footer-links>a{
  color: #3d3d3d;
}
.footer-bottom{
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
}
.footer-bottom>p{
  color: #555;
display: flex;
align-items: center;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px;
}
.footer-Boot-list{
  width: 200px;
  display: flex;
  align-items: center;
}
.footer-Boot-list>a{
  color: #555;

font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; 
}